{% extends "layout2.html" %}

{% block content_one %}
<!-- Form -->
<!-- In Button -->
<div class="container">
    <div class="button-holder">
        <form action="/" method="post">
            <p>
            <input class="button-in" type="submit" name="clicker" value="In" />
        <!-- Out Button -->
            <input class="button-out" type="submit" name="clicker" value="Out" />
        </form>
    </div>
    <div class="info-holder">
        <p class="counter">
            {{ total }}
        </p> 
    </div>
</div>
{% endblock %}

{% block content_two %}
    <div class="info-holder">
        <table style="width:50%">
            <tr>
                <th>Stat</th>
                <td>Data</td>
            </tr>
            <tr>
                <th>Stat</th>
                <td>Data</td>
            </tr>
            <tr>
                <th>Average In</th>
                <td>{{ avg_in}}</td>
            </tr>
            <tr>
                <th>Average Out</th>
                <td>{{ avg_out}}</td>
            </tr>
            <tr>
                <th>Stat</th>
                <td>Data</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ max }}</td>
            </tr>
        </table>
    </div>

{% endblock %}
{% block content_three %}
    <div class="button-holder">
        <form action="/reset" method="POST">
            <input type="submit" name="reset" value="Reset Session" class="button-other"/>
        </form>
    </div>
{% endblock %}
{% block content_four %}
    <div class="button-holder">
        <form action="/email" method="POST">
            <input type="text" name="email" placeholder="Enter Your Email" /><br><br>
            <input type="submit" name="submit" value="Submit" class="button-other" />
        </form>
    </div>
{% endblock %}